* {
  font-family: Inter;
    margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: #2a3647;
}

body {
  margin: 0;
  padding: 0;
  border: unset;
  background-color: #f6f7f8;
  font-size: 20px;
  font-weight: 400;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: unset;
}

ul {
  list-style-type: none;
}

button {
  border-style: unset;
  cursor: pointer;
} /*  */

button:disabled {
  background-color: gray;
} /*  */

button:disabled:hover {
  background-color: gray;
  box-shadow: none;
  cursor: default;
} 


.disable-scroll {
  overflow: hidden;
}

menu {
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
}

input[type="checkbox"] {
  background: url(/assets/icons/checkbox.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 0 0 0px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

input::shadow{
  color: red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

form > textarea {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  height: 10vh;
}

form > select {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  height: 50px;
  width: 32%;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-flex {
  display: flex;
}

.d-block {
  display: block !important;
}

.d-contents {
  display: contents;
}

.d-none {
  display: none !important;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.text-area {
  max-width: 620px;
  gap: 35px;
}

.text {
  white-space: pre-line;
  text-align: justify;
}

.index-1 {
  z-index: -1 !important;
}
