@keyframes pulse {
  50% {
    transform: scale(1.1);
    background-color: #2a3647;
  }
}
@keyframes animateBgBlur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes animateBgUnblur {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes toast-fly-in-out {
  0% {
    transform: translate(300%, -50%);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  90% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(300%, -50%);
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 0;
  }
  25% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}
@keyframes slide-up {
  from {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
  }
  to {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%) translateY(-50%);
  }
}
@keyframes backgroundFade {
  0% {
    background-color: #f6f7f8;
  }
}
@keyframes fadeGreeting {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.col-ligthblue {
  color: #29abe2;
}

.col-blue {
  color: #007cee;
}

.col-red {
  color: #ff0000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-neonblue {
  background-color: #00aaff;
}

.bg-orange {
  background-color: #ff7a00;
}

.bg-purple {
  background-color: #9327ff;
}

.bg-pink {
  background-color: #ff5eb3;
}

.bg-darkpurple {
  background-color: #6e52ff;
}

.bg-turqoise {
  background-color: #00bee8;
}

.bg-green {
  background-color: #1fd7c1;
}

.bg-lightred {
  background-color: #ff745e;
}

.bg-lightorange {
  background-color: #ffa35e;
}

.bg-lightpink {
  background-color: #fc71ff;
}

.bg-gold {
  background-color: #ffc701;
}

.bg-royalblue {
  background-color: #0038ff;
}

.bg-neon {
  background-color: #c3ff2b;
}

.bg-yellow {
  background-color: #ffe62b;
}

.bg-red {
  background-color: #ff4646;
}

.bg-sand {
  background-color: #ffbb2b;
}

.bg-white {
  background-color: #ffffff;
}

.bg-2a3647 {
  background-color: #2a3647;
}

.text-color-black {
  color: black;
}

.text-color-white {
  color: #ffffff;
}

.text-color-2A3647 {
  color: #2a3647;
}

.text-color-A8A8A8 {
  color: #a8a8a8;
}

.text-color-007CEE {
  color: #007cee;
}

.text-color-29ABE2 {
  color: #29abe2;
}

.text-color-FF8190 {
  color: #ff8190;
}

.text-color-CDCDCD {
  color: #cdcdcd;
}

.ai {
  background: linear-gradient(to top, #8933fc, #29abe2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai.right {
  background: linear-gradient(to right, #8933fc, #29abe2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: #f6f7f8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

.summary {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 42px 96px;
}

.metrics-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

h1 {
  font-family: "Inter";
  font-size: 61px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
  white-space: nowrap;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.divider > .header-divider {
  height: 70px;
  width: 4px;
  margin: 0 16px;
  background-color: #00aaff;
}
.divider > .metrics-subtitle {
  font-family: "Inter";
  font-size: 27px;
  font-weight: 400;
  line-height: 120%;
  color: #666;
}

.summary-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  max-width: -webkit-fill-available;
}

.cards-wrapper {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  gap: 28px;
}

.card-row {
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: row;
  gap: 28px;
  max-width: 560px;
}

.card {
  background-color: #ffffff;
  color: #2a3647;
  border-radius: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  flex-shrink: 0;
  box-sizing: border-box;
}
.card:hover {
  background-color: #2a3647;
  color: white !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}
.card:hover > .edit {
  background-image: url("./../../assets/icons/edit_hover.svg");
}
.card:hover > .check {
  background-image: url("./../../assets/icons/check_hover.svg");
}

.large-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex: 2;
  /* max-width: 316px; */
  width: 100%;
  text-align: center;
}

.medium-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex: 1;
  text-align: center;
  gap: 18px;
  max-width: 266px;
  width: 100%;
}

.small-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex: 1;
  text-align: center;
  gap: 18px;
  max-width: 168px;
  width: 168px;
}

.card-icon {
  height: 69px;
  width: 69px;
}

.figure-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.count-figure {
  font-family: "Inter";
  font-size: 4rem;
  font-weight: 600;
  line-height: 120%;
}

.edit {
  background-image: url("./../../assets/icons/edit_background.svg");
  background-size: contain;
}

.check {
  background-image: url("./../../assets/icons/check.svg");
  background-size: contain;
}

.card-title {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.urgent-left,
.urgent-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex: 1;
  /* padding: 0 20px; */
}
.urgent-left > .figure-wrap > .card-title,
.urgent-right > .figure-wrap > .card-title {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
}

.divider-vertical {
  height: 60px;
  width: 2px;
  background-color: #e0e0e0;
  margin: 0 20px;
}

#deadline-date {
  font-family: "Inter";
  font-size: 21px;
  font-weight: 700;
  line-height: 120%;
}

.card-icon-large {
  height: 60px;
  width: 60px;
  margin: 0 20px;
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  z-index: 1;
}

.greeting-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

#greeting-sentence {
  font-family: "Inter";
  font-size: 47px;
  font-weight: 500;
  line-height: 120%;
}

#personal-greeting {
  font-family: "Inter";
  font-size: 4rem;
  font-weight: 700;
  line-height: 120%;
  color: #29abe2;
}

.greeting h2 {
  font-family: "Inter";
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  color: #333;
}

.greeting h1 {
  font-family: "Inter";
  font-size: 4rem;
  font-weight: 700;
  line-height: 120%;
  color: #00aaff;
  margin-top: 16px;
}

.urgent-right .card-value {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

@media screen and (max-width: 1440px) {
  .summary {
    padding: 16px 96px;
  }
  .greeting-container {
    opacity: 0;
    position: absolute;
    background-color: #f6f7f8;
    display: flex;
    top: 80px;
    text-align: center;
  }
  .greet-animation {
    animation: fadeGreeting 2s ease-out;
    height: calc(100% + 320px);
    width: 100%;
    position: absolute;
    top: 50%;
    right: unset;
    bottom: unset;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -160px;
    align-items: center;
  }
  .metrics-header h1 {
    font-size: 47px;
  }
}
/* 

@media screen and (max-width: 992px) {
  .large-card{
    max-width: 200px;
  }
}
 */
@media screen and (max-width: 820px) {
  .summary {
    margin: 0;
    padding: 8px 0;
    gap: 0;
    align-items: center;
  }
  .card-icon,
  .card-icon-large {
    height: 40px;
    width: 40px;
  }
  .metrics-header {
    align-items: flex-start;
    flex-direction: column;
    margin: 16px 8px 40px 8px;
  }
  h1 {
    font-size: 47px;
  }
  .metrics-subtitle {
    font-size: 20px;
  }
  .divider {
    flex-direction: column-reverse;
    align-items: start;
  }
  .divider > .header-divider {
    height: 4px;
    width: 70px;
    margin: 8px 0px;
    rotate: unset;
  }
  .join-logo {
    display: none;
  }
  .cards-wrapper {
    width: 100%;
    padding: 0 16px;
  }
  .card-row {
    gap: 16px;
    min-width: 270px;
  }
  .count-figure {
    font-size: 47px;
  }
  .large-card {
    height: 110px;
    padding: 28px 0;
  }
  .small-card {
    height: 110px;
    width: 116px;
    padding: 25px 0;
  }
  .medium-card {
    gap: 8px;
    padding: 16px;
  }
  .card {
    height: 130px;
  }
  #deadline-date {
    font-size: 16px;
  }
  .text-center {
    font-size: 16px;
  }
}
@media screen and (max-width: 620px) {
  .summary {
    padding: 8px;
  }
  .urgent-left,
  .urgent-right {
    gap: unset;
  }
  .urgent-left > .figure-wrap > .card-title,
  .urgent-right > .figure-wrap > .card-title {
    font-size: 14px;
  }
  .card-icon-large {
    margin: 0 5px;
  }
  .divider-vertical {
    margin: 0 10px;
  }
  .small-card {
    gap: 8px;
  }
  #urgent-count {
    font-size: 40px;
  }
  .card-row {
    gap: 8px;
  }
  .card-title {
    font-size: 18px;
  }
}
@media screen and (max-height: 768px) {
  .summary {
    gap: 20px;
  }
}
@media screen and (max-height: 740px) {
  .metrics-header {
    margin: unset;
  }
  h1 {
    font-size: 40px;
  }
  .card {
    height: 100px;
  }
  .metrics-header {
    margin: 16px 8px 20px 8px;
  }
}
@media screen and (max-height: 668px) {
  .metrics-header {
    margin: unset;
  }
  h1 {
    font-size: 40px;
  }
  .card {
    height: 90px;
  }
  .metrics-header {
    margin: 16px 8px 0 8px;
  }
  .count-figure {
    font-size: 42px;
  }
  .card-title {
    font-size: 17px;
  }
}

/*# sourceMappingURL=summary.css.map */
