@use "./../abstracts" as *;

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 9% calc(100dvh - 20%) 10%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100dvh;
  max-width: 1920px;
  margin-inline: auto;

  > header {
    grid-area: header;
    z-index: 0;
  }

  > main {
    grid-area: main;
    z-index: 1;
  }

  > footer {
    grid-area: footer;
    z-index: 0;
  }
}

.page {
  display: grid;
  grid-template-columns: 232px auto;
  grid-template-rows: 96px auto;
  grid-template-areas:
    "aside nav"
    "aside main";
}

header {
  grid-area: nav;
  @include dFlex($fd: row, $jc: space-between);
  @include size($h: 96px);
  z-index: 2;
}


.header-main {
  grid-area: nav;
  @include dFlex($fd: row, $jc: space-between);
  @include size($h: 96px);
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
}

.header-container {
  @include padding($p: 20px 40px 20px 120px);
  @include dFlex($fd: row, $jc: space-between);
  @include size($w: 100%);
  max-width: 1920px;
  > .join-logo {
    @include dFlex($fd: row);
    > img {
      @include size($w: 100.03px, $h: 121.97px);
    }
  }
}

.join-logo-mobile {
  display: none;
}

.header-user {
  @include dFlex($jc: flex-start, $fd: row, $g: 16px);
  @include size($w: 104px, $h: 56px);
}

.profile-ellipse {
  position: relative;
  @include size($w: 56px, $h: 56px);
  @include text($c: #29abe2);
  font-weight: bold;
  border-radius: 559px;
  &:hover {
    background-color: rgb(12, 46, 98, 0.12);
    cursor: pointer;
  }
}

.dropdown-menu-container {
  position: relative;
  top: 150px;
  right: 160px;
  @include size($w: 150px, $h: 204px);
  border-radius: 20px 0 20px 20px;
  border: unset;
  background-color: #2a3647;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
  > .dropdown-menu-inside {
    @include dFlex($g: 8px);
    @include size($w: 130px, $h: 184px);
    @include padding($p: 8px 16px);
    > a {
      @include size($w: 130px, $h: 46px);
      @include font($fs: 1rem);
      @include text($c: #cdcdcd);
      @include dFlex();
      text-decoration: none;
      border-radius: 8px;
    }
  }
}

aside {
  grid-area: aside;
  background-color: #2a3647;
  @include dFlex($jc: space-between);
  @include size($w: 232px);
  @include padding($p: 64px 0);
  @include font($fs: 1rem);
  z-index: 1;
  top: 0;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
}

nav {
  @include dFlex($ai: flex-start, $g: 15px);
  @include text($c: #ffffff);
  @include size($w: 232px, $h: 229px);
  > a {
    @include dFlex($fd: row, $jc: flex-start, $g: 8px);
    @include size($h: 46px, $w: -webkit-fill-available);
    @include padding($p: 8px 56px);
    background-color: #2a3647;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      background-color: #2a3d59;
    }
  }
  > span {
    @include size($w: 72px, $h: 19px);
  }
}

.policy-legal {
  @include dFlex($g: 8px);
  color: white;
  @include size($w: 100%);
  > a {
    @include dFlex($g: 8px);
    @include size($h: 35px, $w: -webkit-fill-available);
    @include padding($p: 8px 56px);
    color: #a8a8a8;
    &:hover {
      background-color: #2a3d59;
    }
  }
}

.active {
  background-color: #091931 !important;
  &:hover {
    background-color: #091931 !important;
  }
}

main {
  grid-area: main;
  @include size($h: calc(100vh - 96px));
  max-width: 1920px;
}

@media screen and (max-width: 820px) {
  .page {
    grid-template-columns: auto;
    grid-template-areas:
      "nav"
      "main"
      "aside";
    grid-template-rows: 80px auto 80px;
  }

  header {
    @include size($h: 80px);
  }

  .header-container {
    @include padding($p: 16px 20px);
    height: 80px;
    justify-content: space-between;
    /*  padding: 16px 20px; */
    /* padding: 0; */
  }

  main {
    height: calc(100vh - 160px);
  }

  aside {
    @include size($w: 100vw, $h: 80px);
    @include dFlex($jc: space-between);
    padding: 0;
  }

  .policy-legal {
    display: none;
  }

  nav {
    @include dFlex($fd: row, $jc: space-evenly, $ai: unset);
    @include size($w: 100%, $h: 80px);
    > a {
      @include dFlex($g: 4px);
      @include size($w: 76px, $h: 76px);
      @include padding($p: 0);
      text-align: center;
      &:hover {
        border-radius: 8px;
      }
      > img {
        @include size($w: 24px, $h: 24px);
      }
    }

    > span {
      @include font($fs: 1rem);
      white-space: nowrap;
    }
  }

  .metrics-subtitle {
    font-size: 20px;
  }

  .join-logo-mobile {
    display: flex;
  }
  .header-headline {
    display: none;
  }
}


@media screen and (max-height: 800px) {
  main {
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    display: none;
  }


}


@media screen and (max-height: 439px) {
  .landscape-orientation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: -0%;
    background: rgb(0, 0, 0, 0.9);
    left: -0%;
    overflow: initial;
    z-index: 9999;
    color: #ffffff;
  }
}
