@use "./../abstracts/mixin";
@use "./../abstracts/variables";

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% calc(100dvh - 20%) 10%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  max-width: 1920px;
  margin-inline: auto;
}
