@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.task-overlay {
  @include dFlex($g: 30px, $jc: unset, $ai: unset);
}

form {
  align-items: unset;
}

.task-overlay-wrap {
  background-color: white;
  @include position($p: absolute, $t: 50%, $l: 50%);
  @include size($w: 525px);
  @include padding($p: 48px 40px);
  z-index: 100;
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.16);
  transform: translate(calc(100vw - 50%), -50%);
  transition: transform 250ms ease;
}

.task-overlay-wrap.open {
  transform: translate(-50%, -50%);
}

.task-overlay-category {
  @include dFlex($fd: unset, $jc: space-between);
}

.task-overlay-blur {
  background-color: rgba(0, 0, 0, 0.25);
  @include position($p: absolute, $t: 0, $l: 0, $r: 0, $b: 0);
  @include size($h: 100vh);
}

.task-overlay-desc {
  max-height: 130px;
  max-width: 445px;
  overflow: overlay;
  white-space: break-spaces;
}

.task-overlay-meta-wrap {
  @include dFlex($fd: unset, $ai: unset, $jc: unset, $g: 25px);
  @include size($h: auto, $w:auto);
}

.due-date-primary,
.priority-primary,
.assigned-primary,
.subtask-primary {
  color: $color-primary;
}

.task-overlay-assignment-wrap {
  @include dFlex($ai: unset, $jc: unset, $g: 8px);
  max-height: 146px;
  max-width: 445px;
  overflow-y: overlay;
}

.task-overlay-assignment-wrap > article {
  @include dFlex($ai: unset, $jc: unset, $g: 4px);
  max-height: 176px;
  max-width: 445px;
}

.task-overlay-contact-wrap {
  @include dFlex($fd: unset, $jc: space-between);
}

.task-overlay-contact {
  @include dFlex($fd: unset, $jc: unset, $g: 16px);
  max-height: 56px;
  max-width: 216px;
  border-radius: 10%;
  @include padding($p: 7px 16px);
}

.task-overlay-checkbox-wrap {
  @include dFlex($fd: unset, $g: 16px);
  @include font($fs: 1rem);
  @include size($h: 32px);
  @include padding($p: 6px 16px);
  max-width: 344px;
}

.edit-delete-wrap {
  @include dFlex($fd: row-reverse, $ai: unset, $jc: unset, $g: 8px);
}

.add-task-overlay-wrap {
  max-width: 95%;
  max-height: 95%;
  border-radius: 30px;
  @include position($p: absolute, $t: 50%, $l: 50%);
  transform: translate(calc(100vw - 50%), -50%);
  transition: transform 250ms linear;
  background-color: white;
  padding: 64px;
}

.add-task-overlay-wrap.overlay-open {
  transform: translate(-50%, -50%);
}

.close-icon-add-task-overlay-wrap {
  @include dFlex($fd: unset);
  @include size($w: 32px, $h: 32px);
  border-radius: 50%;
}

.close-icon-overlay-wrap {
  @include dFlex($fd: unset);
}

.close-icon-overlay {
  @include dFlex($fd: unset);
}

.close-icon-add-task-overlay-wrap:hover {
  background-color: #e8e8e8;
}

input[type="checkbox"]:checked {
  appearance: none;
  background-image: url("../../../assets/icons/checkbox_checked.svg");
  background-color: unset;
  background-position: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

input[type="checkbox"] {
  appearance: none;
  background-image: url("../../../assets/icons/checkbox.svg");
  background-color: unset;
  background-position: center;
  background-repeat: no-repeat;
  @include size($h: 24px, $w: 24px);
  padding: 0;
  margin: 0;
}

.scroll-overlay {
  overflow-y: overlay;
  scrollbar-width: none;
  height: 85vh;
}

.task-overlay-wrap > .scroll-overlay {
  height: 72vh;
  @include dFlex($ai: unset, $jc: unset, $g: 24px);
  /* height: 100vh; */
}

.task-overlay-title {
  @include font($fs: 40px, $fw: 700);
  color: black;
  overflow-x: clip;
}


.bg-user-story {
  background-color: #0038ff;
  font-size: 16px !important;
  padding: 4px 4px;
  color: white;
}

.bg-technical-task {
  background-color: #1fd7c1;
  font-size: 16px !important;
  padding: 4px 4px;
  color: white;
}

.bg-dimmed {
  @include dFlex($fd: unset);
  @include position($p: absolute, $t: 0, $l: 0, $r: 0, $b: 0);
  @include size($h: 100vh);
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition:
    background-color 300ms linear,
    visibility 300ms linear;
  z-index: 99;
}

.bg-dimmed.dim-active {
  background-color: rgba(0, 0, 0, 0.25);
  visibility: visible;
}


.creator-external{
    @include dFlex($fd: row, $g: 8px);
  @include font($fs: 1rem);
  @include size($w:min(100px, 30%) , $h: 100%);
  padding: 0 4px;
  border-radius: 4px;
  background-color: $bg-color-external;

}

.creator-internal{
    @include dFlex($fd: row, $g: 8px);
  @include font($fs: 1rem);
  @include size($w:min(100px, 30%) , $h: 100%);
  padding: 0 4px;
  border-radius: 4px;
  background-color: $bg-color-internal;

}

.email-external{
  @include dFlex($fd: row, $g: 8px);
  @include font($fs: 1rem);
  color: #42526E;
   padding: 0 4px;
  width: 30%;
}

.creator-name{
  font-size: 1rem;
}


.creator{
  gap: 8px;
}

@media screen and (max-width: 1360px) {
  .add-task-overlay-wrap {
    max-height: unset;
    padding: 24px;
  }
}

@media screen and (max-width: 1200px) {
  /*   .scroll-overlay {
    height: 72vh;
  } */
}

@media screen and (max-width: 820px) {


  .task-overlay-title{
    font-size: 2rem;
  }

  .overlay-priority {
    flex-direction: column;
    align-items: center;
  }

    .task-overlay-wrap {
    padding: 16px 12px;
    max-height: unset;
    max-width: unset;
    overflow: auto;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    background-color: #f6f7f8;
  }

  .task-overlay-category {
    align-items: flex-end;
    flex-direction: column-reverse;
    gap: 8px;
}

.task-overlay-meta-wrap{
  flex-direction: column;
}

  .add-task-overlay-wrap {
    max-height: unset;
    max-width: unset;
    height: 100dvh;
    width: 100vw;
    border-radius: 0;
    background-color: #f6f7f8;
  }


  .task-overlay-assignment-wrap {
    max-width: unset;
  }

  .task-overlay-wrap > .scroll-overlay {
    padding: 24px 0;
    height: unset;
  }
}


@media screen and (max-width: 620px) {

}