@use "./../abstracts/" as *;

.card-landing {
  background-color: white !important;
  border-radius: 30px;
  @include dFlex($fd: column, $g: 8px);
  padding: 2% 1%;
  @include size( $w: min(700px, 90%))
}

.card-landing {
  &__login {
    gap: 32px;
    max-width: 652px;
    height: min(500px, 90%);
    transition: ease-in-out 0.5s;
  }
  &__signup {
    justify-content: space-between;
  }
  &__triage{
    @include size( $w: min(700px, 80%));
  }
}

@media screen and (max-width: 992px) {
  .card-landing__login{
    margin: 10% 0 5% 0;
    height: min(420px, 90%);
  }
}


@media (max-width: 480px) {
  .card-landing {
    gap: 8px !important;
  }
}

@media screen and (max-width: 380px) {
  .card-landing {
    &__signup {
      padding: 12px 20px !important;
    }
  }
}
