@use "./../abstracts/" as *;

.card-landing {
  background-color: white !important;
  border-radius: 30px;
  @include dFlex($fd: column, $g: 8px);
  padding: 1% 2%;
  @include size($h:min(500px, 100%) , $w: min(700px, 90%))
}

.card-landing {
  &__login {
    gap: 32px;
    max-width: 652px;
    transition: ease-in-out 0.5s;
  }
  &__signup {
    justify-content: space-between;
    height: min(700px, 90%);
  }
}


@media (max-width: 480px) {
  .card-landing {
    gap: 24px !important;
  }
}

@media screen and (max-width: 380px) {
  .card-landing {
    &__signup {
      padding: 12px 20px !important;
    }
  }
}
