@use "./../abstracts/" as *;

.card {
  font-size: clamp(1rem, 2rem, 2vw);
  @include dFlex($fd: row, $g: 16px);
  background-color: #ffffff;
  color: #2a3647;
  border-radius: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 4%;
  box-sizing: border-box;
  text-align: center;

  &:hover {
    background-color: #2a3647;
    color: white !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    > .edit {
      background-image: url("./../../assets/icons/edit_hover.svg");
    }
    > .check {
      background-image: url("./../../assets/icons/check_hover.svg");
    }
  }
}

.card {
&--large {
  flex: 2;
  max-width: 66%;
  padding: 2% 4%;
}

&--medium {
  flex: 1;
  max-width: 50%;
}

&--small {
  flex: 1;
  max-width: 33%;
}
}

.card-icon-large {
  @include size($w: min(60px, 30%), $h: min(60px, 80%));
  margin: 0 20px;
}

.card-icon {
  @include size($w: min(69px, 21%), $h: min(69px, 50%));
}

.figure-wrap {
  height: 100%;
  @include dFlex();
}

.count-figure {
  @include font($fw: 600);
  font-size: clamp(1rem, 3rem, 6vw);
}

.edit {
  background-image: url("./../../assets/icons/edit_background.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.check {
  background-image: url("./../../assets/icons/check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.urgent-left,
.urgent-right {
  @include dFlex($fd: row, $g: 8px);
  flex: 1;
}

.divider-vertical {
  @include size($w: 2px, $h: 60px);
  background-color: #e0e0e0;
  margin: 0 8px;
}

#deadline-date {
  @include font($fw: 700);
}

@media screen and (max-width: 820px) {
  .medium-card {
    gap: 8px;
    padding: 16px;
  }

}

@media screen and (max-width: 620px) {
  .card-icon-large {
    margin: 0 5px;
  }

  .small-card {
    gap: 8px;
  }

  .card-row {
    gap: 8px;
  }
}


@media screen and (max-width: 420px) {
  .card-landing__signup {
    max-height: 530px;
  }
  .signup-container {
    max-height: 480px;
  }

  .card--large {
    flex-direction: column;
    gap: 8px;
  }

  .divider-vertical {
    height: 2px;
    width: 120px;
  }
}
