@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

.task-card-wrap {
  border-radius: 24px;
  background-color: #ffffff;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  position: relative;
  touch-action: pan-x pan-y;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.task-card {
  @include dFlex($g: 24px, $ai: unset, $jc: unset);
  min-width: 180px;
  max-width: 210px;
  padding: 16px;
  flex: 1;
}

.task-info-wrap {
  @include dFlex($fd: row, $g: 8px);
}

.task-category {
  @include dFlex($d: inline-flex, $fd: column, $ai: unset, $jc: unset, $g: 8px);
  @include font($fs: 20px);
  border-radius: 8px;
}

.task-description-wrap {
  @include dFlex($g: 8px, $ai: unset, $jc: unset);
  border-radius: 10px;
  overflow-x: clip;
}

.task-headline {
  @include font($fs: 1.25rem, $fw: 700);
  color: #2a3647;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description {
  @include font($fs: 1rem);
  @include size($h: 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a8a8a8;
}

[id^="subtasks-progress-"] {
  @include dFlex($g: 8px, $ai: unset, $jc: space-between);
  height: 30px;
}

.task-priority-wrap {
  @include dFlex($g: 8px, $fd: row, $ai: center, $jc: space-between);
  @include size($h: 40px);
}

.progress-bar-wrap {
  gap: 10px;
}

.progress-bar {
  @include size($w: 128px, $h: 8px);
  border-radius: 8px;
  background-color: #f4f4f4;
}

.progress-bar-status {
  border-radius: 16px;
  height: 8px;
  background-color: #4589ff;
}

.progress-text {
  display: flex;
  @include font();
  color: black;
}

.ai {
  background: linear-gradient(to top, #8933fc, #29abe2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ai.right {
  background: linear-gradient(to right, #8933fc, #29abe2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.drag-handler {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20%;
  height: 20%;
  background-image: url("../../assets/icons/drag-indicator.svg");
  background-repeat: no-repeat;
  background-size: contain;
  touch-action: none;
}

.drag-handler:hover {
  cursor: grab;
}

.drag-handler:active {
  cursor: grabbing;
}

.task-card-wrap.dragging {
  z-index: 9999;
  opacity: 0.85;
}

@media screen and (max-width: 1360px) {
  .task-card-wrap {
    max-height: 288px;
    width: 204px;
  }

  .task-card {
    width: 100%;
  }

  [id^="subtasks-progress-"] {
    flex-direction: column;
    align-items: baseline;
  }
}

@media screen and (max-width: 820px) {
  .task-card {
    gap: 8px;
  }

  .task-card-wrap {
    max-height: 240px;
  }
}
