@use './../abstracts/' as *;

.dialog{
    @include position($p: relative, $l: 50%, $t:  50%);
    width: min(600px, 90%);
    transform: translate(-50%, -50%);
    border-radius: 5%;
    border-style: none;
}

.closebar{
     @include dFlex($fd: unset, $jc: end);
     
}