@use "./../abstracts/" as *;

.policy-notice-list {
  @include dFlex($fd: row, $g: 16px);
  margin-block-start: 0.5rem;
  @include size($h: -webkit-fill-available);

  &--text-gray {
    @include text($c: #a8a8a8);

    > a {
      font-weight: 500;
      &:hover {
        color: $color-highlight !important;
        text-decoration: underline;
      }
      &:visited {
        color: #a8a8a8;
      }
    }
  }
}

ul {
  list-style: disc;
}
