@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;



form {
  @include dFlex($g: 20px);
  > .input-container {
    @include dFlex($jc: space-between, $g: 8px);
    @include size($w: 100%);
    min-height: 78.19px;
    /* max-width: 90%; */
    &:nth-of-type(5) {
      min-height: 0;
    }
    &:focus-visible {
      outline: none;
    }
    > .input-content {
      @include dFlex($fd: row, $g: 10px);
      @include size($h: 44px, $w: 100%);
      @include inputBorder();
      @include padding($p: 12px 21px);
      max-width: 80%;
      > input {
        width: 100%;
        border: 0;
        font-size: 20px;
      }
    }
    > .input-checkbox {
      @include dFlex($fd: row, $g: 8px);
      @include size($w: 100%);
      > span {
        gap: 10px;
      }
      > .accept-policy {
        &:hover {
          text-decoration: underline;
          text-decoration-style: solid;
        }
      }
    }
    > .login-error {
      @include text($c: #ff8190);
      @include font($fs: 12px, $fw: 400);
      @include size($h: 16px);
      margin: 2px 0;
      position: relative;
      top: 5%;
    }
  }
}


input[type="checkbox"] {
  background: url("./../../../assets/icons/checkbox.svg") no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 0 0 0px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;

  &:hover {
    background-color: #edf2fa;
    border-radius: 43px;
  }

  &:checked {
    background: url("./../../../assets/icons/checkbox_checked.svg") no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: unset;
    border-width: 2px;
    padding: 0 0 0 0px;
  }

  &:checked:hover {
    background-color: #edf2fa;
    border-radius: 51px;
  }
}

.reset-join{
  @include dFlex($g: 8px);
  @include font($fs: 13px);
}

.error-border{
  border-color: $color-error !important;
}

@media screen and (max-width: 992px) {
  .input-container {
    max-height: 77.19px;
    min-height: 10.19px;
  }

  .reset-join {
    display: none;
  }

}



@media screen and (max-width: 480px) {
  form {
    gap: 14px !important;
  }

  h1 {
    font-size: 52px;
  }

  input {
    font-size: 1rem !important;
  }

  .login-btn-container {
    flex-direction: column !important;
    gap: 16px !important;
    > .btn-primary,
    .btn-transparent {
      max-width: 180px !important;
    }
  }

  .input-checkbox{
    font-size: 1rem;
  }
}


@media screen and (max-width: 400px) {

  .input-content {
    height: 16px;
  }
}


@media screen and (max-height: 700px) {
  .input-content {
    height: 12px;
  }
}