@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;

form {
  max-width: 976px;
    @include size($w: 100%);
}

#add-task-form-wrap{
     @include size($w: 100%);
}

.form-sub-wraps {
  @include dFlex($ai: unset, $fd: row, $g: 48px);
  @include size($w: 100%);
}

.task-main {
  @include dFlex($ai: unset, $jc: unset, $g: 16px);
  @include size($w: 100%);
}

.task-area {
  position: relative;
  z-index: 0;
  @include dFlex($ai: unset, $jc: unset, $g: 8px);
  > label {
    color: $color-primary;
    @include font($fs: 20px);
  }
}

.task-title {
  @include size($h: 96px);
}

/* .task-category {
  @include size($h: 86px);
} */

.task-meta {
  @include dFlex($ai: unset, $jc: unset, $g: 32px);
  @include size($w: 100%);
}

.overlay-priority {
  @include dFlex($ai: unset, $jc: unset, $fd: unset, $g: 16px);
}


.task-input-border {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
   &:focus {
    border: 1px solid $color-lightblue;
  }
}

.task-input-category {
  position: relative;
  @include font($fs: 20px);
  @include padding($p: 12px 16px);
  min-height: 52px;
  cursor: pointer;
}


.task-form-btn-wrap {
  @include dFlex($fd: unset, $g: 16px);
}

.task-button-mobile {
  @include dFlex($ai: flex-end, $jc: space-between, $fd: unset);
  @include size($w: 100%);
  @include padding($p: 4px);
}

.text-required {
  @include font($fs: 16px);
}

.validation {
  @include font($fs: 13px);
  color: $color-error;
}

.text-red {
  color: $color-red;
}


@media screen and (max-width: 820px) {
  .task-button-mobile {
    flex-direction: column;
    gap: 16px;
    height: 90px;
  }

  .btn-priority {
    padding: 10px 2px;
  }
}


@media screen and (max-width: 620px) {
  .overlay-priority{
    flex-direction: column;
  }

}

