@use "../abstracts/variables" as *;
@use "../abstracts/mixin" as *;


.profile-wrap{
    position: relative;
    @include dFlex($ai: unset, $fd: unset, $jc: unset, $g: 8px);
}

.profile-badge {
  @include font($fs: 12px);
  @include dFlex($fd: unset);
  @include size($h: 42px);
  min-width: 42px;
  border-radius: 45px;
  color: white;
  border: 2px solid white;
}

.task-card-contact-badge {
  @include dFlex($fd: unset);
  @include size($w: 42px, $h: 42px);
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-left: -8px;
}

.task-badge {
  max-width: 190px;
}

.badge-text{
  @include font($fs: 12px);
  color: white;
}

.assigned-user{
  @include font($ff: "OpenSans" , $fs: 1rem);
}