$color-primary: #2a3647;
$color-secondary: #f6f7f8;
$color-highlight: #29abe2;
$color-error: #ff8190;


$color-lightblue: #29abe2;
$color-blue: #007cee;
$color-red: #ff0000;


$bg-color-user-story:  #0038ff;;
$bg-color-technical-task: #1fd7c1;
$bg-color-external: #EBFC88;
$bg-color-internal: #92FFBC;

