@use "./../abstracts/" as *;

.join-span {
  color: #29abe2;
  font-weight: bold;
  cursor: pointer;
}

.join-span > a:visited {
  color: #29abe2;
}

.main-policy {
  overflow-y: scroll;
}

.help-legal-policy-wrap {
  padding: min(40px, 6%);
  @include dFlex();
}

.article-page {
  @include dFlex();
}

.text-paragraph {
  width: 100%;
}
