@use "./../abstracts/" as *;

body {
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.join-logo {
  &-login {
    height: 100%;
    > img {
      @include size($h: 100%, $w: 100%);
      z-index: 2;
      max-width: 80px;
      max-height: 80px;
    }
    a {
      max-width: 80px;
      max-height: 80px;
      height: 100%;
      width: 100%;
      display: flex;
      min-width: 40px;
      min-height: 40px;
      img {
        width: 100%;
      }
    }
  }
  &-signup {
    > img {
      @include size($h: 100%, $w: 100%);
      z-index: 2;
      max-width: 80px;
      max-height: 80px;
      position: absolute;
      left: 5%;
    }
  }
}

.header-index {
  @include dFlex($fd: row, $jc: space-between);
  @include padding($p: 24px);
  height: auto;
}

.headline-container-login {
  @include dFlex();
  max-width: 280px;
  max-height: 89px;
  gap: 16px;
}

.headline-underline {
  width: 150px;
  @include underline();
}

.site-container {
  @include dFlex($jc: flex-end, $fd: unset);
}

.signup-container {
  @include dFlex($fd: unset);
  @include size($w: 100%);
  max-height: 72%;
  gap: 35px;
}
.text-to-signup {
  @include font($fs: 1.25rem);
  @include size($w: 180px);
}
.btn-primary {
  @include size($h: 49px, $w: 100%);
  @include font($fs: 19px, $fw: 400);
}

.login-btn-container {
  @include dFlex($fd: row);
  width: 100%;
  gap: 35px;
}

.reset-join-btn {
  color: #29abe2;
  &:hover {
    cursor: pointer;
    color: #007cee;
  }
}

.background-fade {
  height: 100%;
  width: 100%;
  background-color: #f6f7f8;
  position: absolute;
}

.background-fade-dark {
  height: 100%;
  width: 100%;
  background-color: #2a3647 !important;
  position: absolute;
}

@media screen and (max-width: 992px) {
  .join-logo-login > img {
    height: 64px;
    width: 78px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-areas:
      "void"
      "main"
      "header"
      "footer";
    grid-template-rows: 14% 70% 10% 6%;
  }

  .join-logo-login {
    max-width: 60px;
    max-height: 60px;
  }

  .header-index {
    padding: 0 24px;
    justify-content: center;
  }

  .signup-container {
    gap: 24px;
    > .text-to-signup {
      width: 160px;
    }
    > .btn-primary {
      max-width: 104px;
      font-size: 16px;
    }
  }

  .btn-transparent {
    font-size: 16px;
  }

  .join-logo-login {
    @include position($p: absolute, $t: 5%, $l: 10%);
  }
}

@media screen and (max-width: 380px) {
  .signup-container {
    gap: 8px;
  }
  .join-logo-login {
    > img {
      max-width: 48px;
      max-height: 48px;
    }
  }
}
