@use "./../abstracts/" as *;

body {
  overflow: unset;
}

.aside-index {
  align-items: flex-start;
  width: 100%;
  padding: 10% 0 0 0;
}

.join-logo-index {
  > img {
    aspect-ratio: 1 / 1;
    width: 80px;
  }
}

.container-wrap {
  @include dFlex($g: 16px);
}

.stakeholder-container {
  max-width: 964px;
  background-color: $color-secondary;
  padding: 1% 1%;
  height: min(580px, 90%);
  width: min(700px, 90%);
}

.stakeholder-wrap {
  @include dFlex($ai: flex-start, $g: 8px);
  margin: 0 0 10% 0;
  width: 100%;
}

.btn-stakeholder {
  max-width: 300px;
}

.figure {
  @include dFlex($fd: row-reverse);
  > img {
    @include size($w: 50%, $h: 90%);
  }
}

.paragraph {
  max-width: 500px;
  text-align: justify;
}

.triage-headline {
  @include dFlex($g: 16px);
  max-width: unset;
  max-height: unset;
}

.stakeholder-headline {
  @include dFlex($g: 24px);
  @include size($w: 100%);
}

.headline-navigate {
  @include dFlex($fd: row, $jc: space-between);
  @include size($w: 100%);
  > span {
    @include text($c: $color-highlight);
  }
}

.choice-wrap {
  @include dFlex($g: 64px, $fd: row);
}

.choice-container {
  @include dFlex($ai: center, $g: 24px);
  @include size($w: 277px, $h: 100%);
  > .role-check {
    @include dFlex($fd: row, $g: 8px);
    @include size($w: 100%, $h: 100%);
    text-wrap: nowrap;
  }
}

.btn-group {
  @include dFlex($fd: row, $g: 16px, $ai: unset);
  @include size($w: 100%);
}

.triage-container {
  z-index: 1;
  padding: 5% 20px !important;
}

textarea {
  @include size($h: 100%, $w: 100%);
}

body:has(strong.mail-hover:hover) button.mail-hover {
  animation: pulse 1s;
}

body:has(strong.form-hover:hover) button.form-hover {
  animation: pulse 1s;
}

strong[class*="hover"] {
  color: $color-highlight;
}

.join-logo-index {
  /*   position: absolute;
  top: 4%;
  left: 4%;
  width: 10%;
  height: 10%; */
  a {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 24px;
    z-index: 2;
  }
}

select {
  &:hover {
    cursor: pointer;
  }
}

.message {
  @include position($p: absolute, $t: 50%, $l: 50%);
  @include size($w: 50%, $h: 5%);
  transform: translate(-50%, -50%);
  background-color: #2a3647;
  color: white;
  border: solid 2px;
  border-radius: 10px;
  padding: 8px;
  @include dFlex();
  z-index: 99;
}

.ai-limit {
  margin-top: 24px;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #ffd2d2;
}

#ai-requests {
  @include text($c: #ff8190);
}

.arrow-left {
  background-color: transparent;
}

@media screen and (max-width: 992px) {
  .choice-wrap {
    padding: 20px;
    width: 80%;
  }
  .choice-container {
    width: 204px;
  }

  .triage-headline {
    max-width: 80%;
  }

  .stakeholder-wrap {
    align-items: center;
  }

  .figure {
    flex-direction: column;
    width: 100%;
    > img {
      width: 40%;
      height: 60%;
    }
  }

  .paragraph {
    max-width: unset;
  }

  .btn-stakeholder {
    width: 212px;
    padding: 15px 24px;
  }

  .btn--highlight {
    background-color: $color-primary;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-areas:
      "header"
      "main"
      "footer";
    /* grid-template-rows: 8% calc(100dvh - 20%) 10%; */
   /*  max-height: 560px; */
  }

  .header-index {
    flex-direction: column-reverse;
    justify-content: flex-start;

    > .aside-index {
      width: 100%;
    }
  }
  .choice-wrap {
    flex-direction: column;
    padding: 8px;
  }

  .container-wrap {
    gap: 16px;
  }

  .choice-wrap {
    gap: 16px;
  }

  .choice-container {
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .signup-container {
    display: flex;
  }

  .stakeholder-headline {
    align-items: unset;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .headline-navigate {
    flex-direction: row-reverse;
  }

  .figure {
    > img {
      width: 260px;
      height: 100px;
    }
  }

  .ai-limit {
    margin-top: 0;
    padding: 8px 16px;
  }
}

@media screen and (max-height: 766px) {
  /* .grid {
    grid-template-rows: 10dvh 85dvh 5dvh;
  } */
}

@media screen and (max-width: 380px) {
  .triage-container {
    padding: 12px 20px !important;
  }
}
