<body>
  <div class="landscape-orientation d-none">
    This screen size isn't supported in this view. <br />Please adjust your
    screen width.
  </div>

  <header class="header-main">
    <div class="header-container">
      <div class="header-headline">Kanban Project Management Tool</div>
      <div class="join-logo-mobile">
        <img src="../assets/icons/join_icon_blue.svg" alt="join-logo" />
      </div>
      <div class="header-user">
        <a href="../html/help.html"
          ><img
            class="help-icon"
            src="../assets/icons/header_help_icon.svg"
            alt=""
        /></a>
        <div class="profile-ellipse" onclick="toggleDropdown(event)">
          <img src="../assets/icons/header_profile_ellipse.svg" alt="" />
          <span id="profile-initials" class="text-center">G</span>
        </div>
        <div class="dropdown-menu-container d-none">
          <div class="dropdown-menu-inside d-flex">
            <a
              class="dropdown-menu d-flex"
              href="../html/help.html"
              alt="target-help-page"
              >Help</a
            >
            <a
              class="dropdown-menu d-flex"
              href="../html/legal_notice.html"
              alt="target-legal-notice-page"
              >Legal Notice</a
            >
            <a
              class="dropdown-menu d-flex"
              href="../html/privacy_policy.html"
              alt="target-privacy-policy-page"
              >Privacy Policy</a
            >
            <a
              class="dropdown-menu d-flex"
              href="../index.html"
              alt="target-login-page"
              onclick="deleteSessionStorage()"
              >Log out</a
            >
          </div>
        </div>
      </div>
    </div>
  </header>

  <aside>
    <div class="join-logo">
      <img src="../assets/icons/join_icon.svg" alt="join-logo" />
    </div>
    <nav>
      <a href="../html/summary.html" class="nav-link"
        ><img
          src="../assets/icons/summary_icon.svg"
          alt="target-summary-page"
        /><span>Summary</span></a
      >
      <a href="../html/add_task.html" class="nav-link"
        ><img
          src="../assets/icons/add_task_icon.svg"
          alt="target-add-task-page"
        /><span>Add Task</span></a
      >
      <a href="../html/board.html" class="nav-link"
        ><img
          src="../assets/icons/board_icon.svg"
          alt="target-board-page"
        /><span>Board</span></a
      >
      <a href="../html/contacts.html" class="nav-link"
        ><img
          src="../assets/icons/contacts_icon.svg"
          alt="target-contacts-page"
        /><span>Contacts</span></a
      >
      <a href="../index.html" class="nav-link d-none"
        ><img src="../assets/icons/login.svg" alt="target-contacts-page" /><span
          >Log In</span
        ></a
      >
    </nav>
    <div class="policy-legal">
      <a
        href="../html/privacy_policy.html"
        class="nav-link"
        alt="target-privacy-policy-page"
        ><span>Privacy Policy</span></a
      >
      <a
        href="../html/legal_notice.html"
        class="nav-link"
        alt="target-legal-notice-page"
        ><span>Legal notice</span></a
      >
    </div>
  </aside>
</body>
