@use "abstracts" as *;

h1 {
  margin: 0;
  @include font($fs: 61px, $fw: 700);
}

.add-task-container {
  @include dFlex($ai: flex-start, $g: 48px);
  @include padding($p: 16px 96px 0 96px);
}

.add-task-form-input {
  gap: 48px;
}

.add-task-toast-icon {
  @include size($w: 25px, $h: 30px);
  background-image: url("./../../assets/icons/add-task-toast-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.separator {
  width: 1px;
  min-width: 1px;
  background-color: #d1d1d1;
}

.separator-subtask-edit-delete-icons {
  @include size($w: 1px, $h: 16px);
  background-color: #2a3647;
}

.task-input-text-field {
  @include font($fs: 20px);
  @include size($h: 48px);
  @include padding($p: 12px 21px);
}

.task-input-text-area {
  @include font($fs: 20px);
  min-height: 120px;
  @include padding($p: 18px 16px);
}

.task-input-date {
  @include font($fs: 20px);
  @include size($h: 48px);
  @include padding($p: 12px 21px);
}

.task-dropdown-open-icon {
  background-image: url("./../../assets/icons/arrow_drop_up.svg");
}

.task-category-option {
  padding: 12px 16px;
  border-radius: 10px;
}

.task-category-option:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.task-subtask-icon {
  @include dFlex($fd: unset, $ai: unset, $jc: unset,$g: 8px);
  position: absolute;
  top: 56px;
  right: 16px;
  transform: translateY(-50%);
}

.task-add-subtask-icon {
  @include size($w: 14px, $h: 14px);
  background-image: url("./../../assets/icons/add.svg");
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.task-clear-subtask-icon {
  @include size($w: 11px, $h: 11px);
  background-image: url("./../../assets/icons/cancel.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.task-submit-subtask-icon {
  @include dFlex();
  @include size($w: 16px, $h: 11px);
  background-image: url("./../../assets/icons/check_blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  &:hover {
    transform: scale(1.1);
  }
}

.task-subtask-icon-wrap {
  @include dFlex($fd: unset);
  @include size($w: 20px, $h: 20px);
  border-radius: 50%;
  &:hover {
    background-color: #e8e8e8;
    cursor: pointer;
  }
}

.tasks-subtask-list {
  height: 90px;
  overflow-y: auto;
}

.subtask-list-element {
  @include dFlex($jc: space-between, $fd: unset, $g: 8px);
   @include font($fs: 13px);
   @include padding(8px);
   @include size($w: 100%);
  list-style-position: inside;
  border-radius: 10px;
  &:hover {
  background-color: #d1d1d1;
}
}

.subtask-list-element:hover .edit-subtask {
  background-color: white;
}

.task-subtask-control-icon-wrap {
  @include dFlex($d:none, $g: 4px, $fd: row);
}

.edit-task-subtask-control-icon-wrap {
  @include dFlex($g: 4px, $fd: row);
  position: relative;
}

.subtask-list-element:hover .task-subtask-control-icon-wrap {
  display: flex;
  cursor: pointer;
}

.task-edit-subtask-icon {
  @include size($h: 13px, $w: 13px);
  background-image: url("./../../assets/icons/edit.svg");
  background-size: contain;
}

.task-edit-subtask-icon:hover {
  transform: scale(1.1);
}

.task-delete-subtask-icon {
  @include dFlex();
  @include size($h: 13px, $w: 13px);
  background-image: url("./../../assets/icons/delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.task-delete-subtask-icon:hover {
  transform: scale(1.1);
}

.task-assigned-contacts-checkbox-icon {
  display: block;
  @include size($h: 20px, $w: 20px);
  background-image: url("./../../assets/icons/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.focus .task-assigned-contacts-checkbox-icon {
  background-image: url("./../../assets/icons/checkbox_checked_white.svg");
}

.task-assigned-contact-wrap {
  border-radius: 10px;
  padding: 8px 16px;
@include dFlex($jc: space-between, $fd: unset);
}

.user-badge-wrap{
  @include dFlex($jc: flex-start, $g: 16px, $fd: unset);
}

.task-assigned-contact-wrap:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .form-sub-wraps {
    flex-direction: column;
    gap: 24px;
  }

  .scrollable-y {
    overflow-y: scroll;
  }

  .task-input-text-field {
    max-width: 100%;
  }

/*   .d-flex-row-end-sb {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  } */
}

@media screen and (max-width: 820px) {

  .join-logo{
    display: none;
  }


  span {
    font-size: 16px;
  }

  .task-button-mobile {
    flex-direction: column;
    gap: 16px;
    height: 90px;
  }
}


@media screen and (max-width: 720px) {
.add-task-container {
  @include padding($p: 24px 12px 24px 12px);
}
}
