@use "abstracts/variables" as *;
@use "abstracts/mixin" as *;

main {
  overflow: clip;
}

.board-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 76px;
  padding-bottom: 40px;
}

.board-search-add-task-wrap {
  display: flex;
  gap: 32px;
  height: 50px;
}

.search-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #a8a8a8a8;
  gap: 10px;
  background-color: white;
  padding: 8px 16px;
}

.search-wrap:focus-within {
  border-color: #29abe2;
}

.search-input {
  border: 1px;
  border-radius: 10px;
  color: #a8a8a8;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  background-image: url("./../../assets/icons/search.svg");
  background-color: unset;
  background-size: cover;
  @include size($w: 18px, $h: 18px);
}

.search-icon:active {
  background-image: url("./../../assets/icons/search_click.svg");
  @include size($w: 32px, $h: 32px);
}

.search-icon-div {
  @include dFlex($fd: unset);
  @include size($w: 32px, $h: 32px);
}

.search-icon-wrap {
  display: flex;
  gap: 16px;
}

.board-vline {
  border-left: 1px solid #d1d1d1;
  height: 31px;
}

.board-headline-text {
  font-size: 61px;
  font-weight: 700;
}

.board-col-wrap {
  display: flex;
  padding: 0 12px 0 48px;
  gap: 26px;
  scrollbar-width: none;
  height: 100%;
}

.col-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.col-title {
  font-size: 20px;
  font-weight: 700;
  color: #42526e;
}

.add-btn {
  background-image: url("./../../assets/icons/add.svg");
  background-color: unset;
  background-size: cover;
  @include size($w: 24px, $h: 24px);
}

.add-btn:hover {
  background-image: url("./../../assets/icons/add_press.svg");
  border-color: #29abe2;
}

.col-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  height: calc(100vh - 326px);
}

.col-content-wrap {
  max-width: 192px;
  @include size($w: 100%, $h: 100%);
}

.add-task-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #2a3647;
}

.add-task-btn-text {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.add-task-btn-icon-wrap{
   @include dFlex($fd: row);
}

.add-task-btn:hover {
  background-color: #354355;
}

.add-taks-btn-icon {
  @include dFlex($fd: row);
  @include size($h: 19px, $w: 19px);
}

.board-col {
  @include size($h: 100%, $w: 252px);
  @include dFlex($ai: flex-start, $jc: unset, $g: 24px);
}

.no-task-feedback {
  @include font($ff: OpenSans, $fs: 1rem);
  @include dFlex($fd: row);
  @include size($h: 48px);
  border-radius: 10px;
  background-color: #e7e7e7;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  color: #a8a8a8;
  border: 1px dashed #a8a8a8;
  padding: 8px 24px;
}

.task-card-wrap {
  border-radius: 24px;
  background-color: #ffffff;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  position: relative;
  touch-action: pan-x pan-y;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.drag-handler {
  width: 20%;
  height: 20%;
  background-image: url("../../assets/icons/drag-indicator.svg");
  background-repeat: round;
  background-size: contain;
  touch-action: none;
}

.drag-handler:hover {
    cursor: grab;
}

.drag-handler:active {
    cursor: grabbing;
}

.task-card-wrap.dragging {
  z-index: 9999;
  opacity: 0.85;
}

.col-empty-wrap:last-of-type {
  @include size($h: 244px, $w: 192px);
  scrollbar-width: none;
  border: 1px;
  border-style: dashed;
  border-color: #a8a8a8;
  border-radius: 30px;
}

.task-card {
  @include dFlex($g: 24px, $ai: unset, $jc: unset);
  /* @include size($h: 240px); */
  min-width: 180px;
  max-width: 210px;
  padding: 16px;
  flex: 1;
  /* touch-action: pan-x; */
}

.task-info-wrap {
  @include dFlex($fd: row, $g: 8px);
}


.task-category {
  @include dFlex($d: inline-flex, $fd: column, $ai: unset, $jc: unset, $g: 8px);
  @include font($fs: 20px);
  border-radius: 8px;
}

.task-description-wrap {
  @include dFlex($g: 8px, $ai: unset, $jc: unset);
  border-radius: 10px;
  overflow-x: clip;
}

.task-headline {
  @include font($fs: 1rem, $fw: 700);
  color: #2a3647;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description {
  @include font($fs: 1rem);
  @include size($h: 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #a8a8a8;
}

[id^="subtasks-progress-"] {
  @include dFlex($g: 8px, $ai: unset, $jc: space-between);
  /* max-height: 30px;
  height: 100%; */

  height: 30px;
}

.task-priority-wrap {
  @include dFlex($g: 8px, $fd: row, $ai: center, $jc: space-between);
  @include size($h: 40px);
}

.progress-bar-wrap {
  gap: 10px;
}

.progress-bar {
  @include size($w: 128px, $h: 8px);
  border-radius: 8px;
  background-color: #f4f4f4;
}

.progress-bar-status {
  border-radius: 16px;
  height: 8px;
  background-color: #4589ff;
}

.progress-text {
  display: flex;
  @include font($fs: 12px);
  color: black;
}

.no-task-found {
  @include position($p: absolute, $t: 50%, $l: 50%);
}

.title-wrap {
  @include dFlex($fd: row-reverse, $jc: space-between);
  margin-bottom: 40px;
}

@media screen and (max-width: 1360px) {
  main {
    overflow-y: scroll;
  }

  .board-col-wrap {
    flex-direction: column;
  }

  .col-content-wrap {
    max-width: 100%;
    max-height: 348px;
  }

  .col-content {
    flex-direction: row;
    height: 100%;
  }

  .task-card-wrap {
    max-height: 288px;
    width: 204px;
  }

  .no-task-feedback {
    @include size($h: 272px, $w: 100px);
  }

  .task-card {
    width: 100%;
  }

  [id^="subtasks-progress-"] {
    flex-direction: column;
    align-items: baseline;
  }

  .board-headline {
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }

  .board-col-wrap {
    scrollbar-width: auto;
  }
}

@media screen and (max-width: 820px) {
  .add-task-btn-mobile {
    display: flex;
    background-image: url("../assets/icons/add_task_button_mobile.svg");
    background-color: unset;
    background-position: center;
    background-repeat: no-repeat;
    @include size($h: 40px, $w: 40px);
  }

  .add-task-btn-mobile:hover {
    background-image: url("../assets/icons/add_task_button_mobile_hover.svg");
  }
  .add-task-btn-mobile:active {
    background-image: url("../assets/icons/add_task_button_mobile_clicked.svg");
  }

  .board-headline-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .board-headline {
    padding: 76px 24px 40px 24px;
  }

  .board-col-wrap {
    padding: 0 32px;
    gap: 40px;
  }

  .board-search-add-task-wrap{
    @include dFlex($fd: column-reverse, $ai: end, $jc: unset, $g: 32px);
  }

  .add-task-btn{
    @include size($w: 34px, $h: 34px);
    padding: 8px;
    justify-content: center;
  }

  .add-task-btn-text {
    display: none;
  }

  .task-card {
    gap: 8px;
  }

  .task-card-wrap {
    max-height: 240px;
  }

  .board-search-add-task-wrap {
    width: 100%;
  }

  .search-wrap {
    width: 100%;
  }

}
