@use "abstracts/variables" as *;
@use "abstracts/mixin" as *;



.join-span{
    color: #29ABE2;
    font-weight: bold;
    cursor: pointer;
}

.join-span > a:visited{
    color: #29ABE2;
}

main{
    overflow-y: scroll;
}

ul{
    list-style: disc;
}

.help-legal-policy-wrap{
    padding: 80px 64px;
    @include dFlex();
}

.article-page{
    @include dFlex()
}


.text-paragraph {
  width: 100%;
}