@use "abstracts" as *;

body {
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.join-logo {
    height: 100%;
  > img {
    /* @include position($p: absolute, $t: 5%, $l: 10%); */
    @include size($h: 100%, $w: 100%);
    z-index: 2;
    max-width: 80px;
    max-height: 80px;
  }
  a{
    max-width: 80px;
    max-height: 80px;
    height: 100%;
    width: 100%;
    display: flex;
  }

}

header {
  @include dFlex($fd: row, $jc: space-between);
  @include padding($p: 24px);
  height: 100%;
}

.headline-container {
  @include dFlex();
  max-width: 280px;
  max-height: 89px;
  gap: 16px;
}

h1 {
  @include font($fs: 61px, $fw: 700);
  @include text();
  margin-block-start: 0;
  margin-block-end: 0;
}
.headline-underline {
  width: 150px;
  @include underline();
}

.site-container {
  @include dFlex($jc: flex-end, $fd: unset);
}

.signup-container {
  @include dFlex($fd: unset);
  @include size($w: 100%);
  max-height: 72%;
  gap: 35px;
}
.text-to-signup {
  @include font($fs: 1.25rem);
  @include size($w: 180px);
}
.btn-primary {
  @include size($h: 49px, $w: 100%);
  @include font($fs: 19px, $fw: 400);
}

main {
  @include dFlex($g: 32px);
  @include size($h: auto, $w: 100%);
  @include padding($p: 1% 10%);
  max-width: 652px;
  border-radius: 30px;
  background-color: #ffffff;
  transition: ease-in-out 0.5s;
}

.login-btn-container {
  @include dFlex($fd: row);
  width: 100%;
  gap: 35px;
}

.reset-join-btn {
  color: #29ABE2;
  &:hover {
    cursor: pointer;
    color: #007cee;
  }
}

.policy-notice-list {
  @include dFlex($fd: row, $g: 8px);
  @include font();
  margin-block-start: 0.5rem;
  @include size($h: -webkit-fill-available);
  > li {
    min-width: 109px;

    > a {
      @include text($c: #a8a8a8);
      &:hover {
        color: $color-highlight !important;
        font-weight: 600;
        font-style: bold;
      }
      &:visited {
        color: #a8a8a8;
      }
    }
  }
}

.background-fade {
  height: 100%;
  width: 100%;
  background-color: #f6f7f8;
  position: absolute;
}

.background-fade-dark{
   height: 100%;
  width: 100%;
  background-color: #2a3647 !important;
  position: absolute;
}

@media screen and (max-width: 992px) {
  main {
    width: 90% !important;
    padding: 24px 20px !important;
  }

  .join-logo > img {
    height: 64px;
    width: 78px;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-areas:
      "void"
      "main"
      "header"
      "footer";
    grid-template-rows: 14% 70% 10% 6%;
  }
  h1{
    font-size: 40px;
  }

  .join-logo{
    max-width: 60px;
    max-height: 60px;
  }

  header {
    padding: 0 24px;
    justify-content: center;
  }

  .signup-container {
    gap: 24px;
    > .text-to-signup {
      width: 160px;
    }
    > .btn-primary {
      max-width: 104px;
      font-size: 16px;
    }
  }

  .btn-transparent {
    font-size: 16px;
  }

  .join-logo  {
    @include position($p: absolute, $t: 5%, $l: 10%);
  }
}

@media (max-width: 480px) {
  main {
    gap: 24px !important;
  }
}

@media screen and (max-width: 380px) {
  .signup-container {
    gap: 8px;
  }
  .join-logo {
    > img {
      max-width: 48px;
      max-height: 48px;
    }
  }

  /* main {
    max-height: 500px;
  } */
}
