@use "abstracts" as *;

main {
  max-height: 580px;
}

aside {
  grid-area: header;
  background-color: unset;
  box-shadow: unset;
}

form{
  align-items: center;
}


.join-logo{
  > img {
    position: absolute;
  }
}

.signup-container {
  max-height: 580px;
}
.headline-container {
  @include dFlex($fd: row, $jc: space-between);
  max-width: 680px;
  @include size($w: 100%);
}

.title {
  @include dFlex($g: 8px);
}

@media screen and (max-width: 820px) {
  aside{
    width: 232px;
    padding: 64px 0;
  }
}


@media screen and (max-width: 600px) {
  .grid {
    grid-template-rows: calc(100dvh - 5%) 0% 5%;
  }
}

@media screen and (max-width: 380px) {
  main {
    max-height: 460px;
  }
  .signup-container {
    max-height: 480px;
  }

  .form-signup {
    > .input-container {
      min-height: 64.19px;
      gap: unset;
      justify-content: unset;

      > .login-error {
        font-size: 11px;
        height: 6px;
        margin: unset;
      }
    }
  }
}
