@use "index" as *;

.page {
  > .signup-container {
    max-height: 580px;
  }
  > .login-container {
    > .headline-signup-container {
      @include dFlex($fd: row, $jc: space-between);
      max-width: 680px;
      @include size($w: 100%);
      > .title {
        > h1 {
          @include font($fs: 61px, $fw: 700);
          @include text();
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .signup-container {
    max-height: 480px !important;
  }

  h1 {
    font-size: 42px !important;
  }

  .form-signup {
    > .input-container {
      min-height: 64.19px !important;
      gap: unset !important;
        justify-content: unset !important;
    
        > .login-error {
          font-size: 11px !important;
          height: 6px !important;
          margin: unset !important;
        }
    }
  }
}
