@use "abstracts" as *;

body {
  background-color: #f6f7f8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

.summary {
  flex: 1;
  @include dFlex($ai: flex-start, $g: 40px);
  @include padding($p: 42px 96px);
}

.metrics-header {
  @include dFlex($fd: row);
}

h1 {
  @include font($fs: 61px, $fw: 600);
  margin: 0;
  white-space: nowrap;
}

.divider {
  @include dFlex($fd: row);
  > .header-divider {
    @include size($h: 70px, $w: 4px);
    margin: 0 16px;
    background-color: #00aaff;
  }
  > .metrics-subtitle {
    @include font($fs: 27px);
    @include text($c: #666);
  }
}

.summary-content {
  @include dFlex($fd: row, $g: 40px);
  max-width: -webkit-fill-available;
}

.cards-wrapper {
  @include dFlex($g: 28px, $jc: unset, $ai: unset);
}

.card-row {
  @include dFlex($g: 28px, $jc: unset, $ai: unset, $fd: row);
  max-width: 560px;
}

.card {
  background-color: #ffffff;
  color: #2a3647;
  border-radius: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  flex-shrink: 0;
  &:hover {
    background-color: #2a3647;
    color: white !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
    > .edit {
      background-image: url("./../../assets/icons/edit_hover.svg");
    }
    > .check {
      background-image: url("./../../assets/icons/check_hover.svg");
    }
  }
}

.large-card {
  @include dFlex($fd: row);
  max-width: 316px;
  width: 100%;
  text-align: center;
}

.small-card {
  @include dFlex($fd: row);
  flex: 1;
  text-align: center;
  gap: 18px;
 /*  max-width: 218px;*/
  width: 100%; 
}

.card-icon {
  @include size($w: 69px, $h: 69px);
}

.figure-wrap {
  @include dFlex();
}

.count-figure {
  @include font($fs: 4rem, $fw: 600);
}

.edit {
  background-image: url("./../../assets/icons/edit_background.svg");
  background-size: contain;
}

.check {
  background-image: url("./../../assets/icons/check.svg");
  background-size: contain;
}

.card-title {
  @include font($fs: 20px);
}

.urgent-left,
.urgent-right {
  @include dFlex($fd: row, $g: 8px);
  flex: 1;
  /* padding: 0 20px; */
  >.figure-wrap{
    > .card-title{
      @include font($fs: 1rem)
    }
  }
}

.divider-vertical {
  @include size($w: 2px, $h: 100px);
  background-color: #e0e0e0;
  margin: 0 20px;
}

#deadline-date {
  @include font($fs: 21px, $fw: 700);
}

.card-icon-large {
  @include size($w: 60px, $h: 60px);
  margin: 0 20px;
}

.greeting-container {
  @include dFlex();
}

.greeting-wrap {
  @include dFlex();
}

#greeting-sentence {
  @include font($fs: 47px, $fw: 500);
}

#personal-greeting {
  @include font($fs: 4rem, $fw: 700);
  @include text($c: #29abe2);
}

.greeting h2 {
  @include font($fs: 3rem);
  color: #333;
}

.greeting h1 {
  @include font($fs: 4rem, $fw: 700);
  color: #00aaff;
  margin-top: 16px;
}

.urgent-right .card-value {
  @include font($fs: 22px, $fw: 700);
}

@media screen and (max-width: 1440px) {
  .summary {
    padding: 16px 96px;
  }

  .greeting-container {
    opacity: 0;
    position: absolute;
    background-color: #f6f7f8;
    display: flex;
    top: 80px;
    text-align: center;
  }
  .greet-animation {
    animation: fadeGreeting 2s ease-out;
    @include size($h: calc(100% + 320px), $w: 100%);
    @include position($t: 50%, $l: 50%);
    margin-top: -160px;
    align-items: center;
  }

  .metrics-header h1 {
    font-size: 47px;
  }
}
/* 

@media screen and (max-width: 992px) {
  .large-card{
    max-width: 200px;
  }
}
 */

@media screen and (max-width: 820px) {
  .summary {
    margin: 0;
    padding: 8px 0;
    gap: 0;
    align-items: center;
  }

  .card-icon,
  .card-icon-large {
    @include size($w: 40px, $h: 40px);
  }

  .metrics-header {
    align-items: flex-start;
    flex-direction: column;
    margin: 16px 8px 0 8px;
  }

  .metrics-header h1 {
    font-size: 47px;
  }

  .metrics-subtitle {
    font-size: 20px;
  }

  .divider {
    flex-direction: column-reverse;
    align-items: start;
  }

  .header-divider {
    rotate: 90deg;
    margin: -16px 32px;
  }
  .cards-wrapper {
    width: 100%;
    padding: 0 16px;
  }

  .card-row {
    gap: 16px;
    min-width: 270px;
  }

  .count-figure {
    font-size: 47px;
  }

/* 
  .urgent-left,
  .urgent-right {
    padding: 20px 0;
  } */

  .large-card {
    height: 110px;
    padding: 28px 0;
  }

  .small-card {
    height: 110px;
    padding: 25px 0;
  }

  #deadline-date {
    font-size: 16px;
  }

  .text-center {
    font-size: 16px;
  }
}


@media screen and (max-width: 820px) {
.urgent-left,
.urgent-right {
  gap: unset;
  >.figure-wrap{
    > .card-title{
       font-size: 14px;
    }
  }
}

.card-icon-large{
  margin: 0 5px;
}

.divider-vertical{
  margin: 0 2px;
}

.small-card{
  gap: 8px;
}

#urgent-count{
  font-size: 40px;
}
}