@use "abstracts" as *;

main {
  top: 50%;
}

.container-wrap {
  @include dFlex($g: 48px);
}
h1 {
  font-size: 40px;
}

.triage-headline {
  @include dFlex($g: 24px);
  max-width: unset;
  max-height: unset;

  > span {
    @include font($fs: 23px);
  }
}

.choice-wrap {
  @include dFlex($g: 64px, $fd: row);
}

.choice-container {
  @include dFlex($ai: flex-start, $g: 24px);
  @include size($w: 277px);
  > .role-check {
    @include dFlex($fd: row, $g: 8px);
  }
}

.signup-container {
  @include dFlex($d: none, $fd: row);
  > .text-to-signup {
    @include text($c: white);
  }
  > a {
    @include text($c: white);
  }
}

@media screen and (max-width: 992px) {
  .choice-wrap {
    padding: 20px;
    width: 80%;
  }
  .choice-container {
    width: 204px;
  }

  .triage-headline {
    max-width: 72%;
    > span {
      font-size: 1.25rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: 30% calc(100dvh - 40%) 10%;
    max-height: 560px;
  }

  .header-index {
    flex-direction: column-reverse;
    justify-content: flex-start;

    > aside {
      width: 100%;
    }
  }
  .choice-wrap {
    flex-direction: column;
    padding: 8px;
  }

  h1 {
    font-size: 32px;
  }
  .triage-headline {
    > span {
      font-size: 1rem;
    }
  }

  .role-check {
    > span {
      font-size: 14px;
    }
  }

  .container-wrap {
    gap: 16px;
  }

  .choice-wrap {
    gap: 16px;
  }

  .choice-container {
    align-items: center;
    gap: 16px;
    width: 100%;
  }

  .btn-highlight {
    background-color: $color-primary;
  }

  .btn-triage {
    width: 166px;
    font-size: 16px;
    padding: 15px 24px;
  }

  .signup-container {
    display: flex;
  }
}

/* @media screen and (max-width: 380px) {
  .triage-container {
    max-height: 410px;
  }
} */
