/* .contact-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  transition: transform 250ms linear;
  background-color: white;
  width: 1212px;
  height: 592px;
  border-radius: 30px;
  gap: 70px;
  padding-right: 48px;
  display: none;
}

.overlay-open {
  transform: translate(-50%, -50%);
}

.close-icon {
  width: 13px;
  height: 13px;
  background-image: url("../assets/icons/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.close-icon-wrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  right: 48px;
}

.close-icon-wrap:hover {
  background-color: #e8e8e8;
}

.add-contact-title-page {
  background-color: #2a3647;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  width: 467px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 66px 48px;
}

.add-contacts-screen-logo {
  width: 56px;
  height: 66px;
}

.add-contacts-screen-title-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-contacts-title-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-contacts-screen-title-text {
  font-size: 61px;
  font-weight: 700;
}

.add-contacts-screen-title-subtext {
  font-size: 27px;
  font-weight: 400;
}

.add-contacts-title-page-hline {
  width: 90px;
  border: 2px solid #29abe2;
  border-radius: 3px;
}

.add-contact-badge {
  width: 43px;
  height: 43px;
}

.add-contact-badge-wrap {
  background-color: #d1d1d1;
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
}

.add-contact-input-wrap {
  display: flex;
  justify-content: space-between;
  width: 422px;
  padding: 13px 21px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

.add-contact-input {
  padding: 0;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 400;
}

.add-contacts-form-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.add-contact-input-check {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.add-contact-btns-wrap {
  display: flex;
  gap: 24px;
}

.add-contact-btn-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  padding: 16px;
  background-color: white;
  color: #2a3647;
  font-weight: 400;
  font-size: 20px;
}

.add-contact-btn-icon-cancel {
  width: 12px;
  height: 12px;
}

.add-contact-btn-icon-check {
  width: 16px;
  height: 11px;
}

.add-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  padding: 16px;
  background-color: #2a3647;
  color: white;
  font-weight: 700;
  font-size: 21px;
}

.add-contact-btn:hover {
  background-color: #29abe2;
}

.add-contact-btn-cancel:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
}

.contact-badge-wrap {
  width: 120px;
  height: 120px;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
}

@media (max-width: 1260px) {
  .contact-screen {
    flex-direction: column;
    gap: 0;
    width: calc(100vw - 64px);
    padding-right: 0;
    height: 760px;
    max-width: 396px;
  }

  .add-contacts-screen-logo {
    display: none;
  }

  .add-contact-title-page {
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0;
    padding: 104px 24px 66px 24px;
    align-items: center;
    height: 50%;
  }

  .add-contacts-form-wrap {
    padding: 66px 24px;
  }

  .add-contacts-screen-title-text {
    font-size: 47px;
  }

  .add-contacts-screen-title-subtext {
    font-size: 20px;
  }

  .close-icon {
    background-image: url("../assets/icons/close-white.svg");
  }

  .close-icon-wrap:hover {
    background-color: #435670;
  }

  .add-contact-badge-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .add-contact-input-wrap {
    width: 100%;
  }

  .add-contact-btn-cancel {
    display: none;
  }

  .add-contact-btns-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-icon-wrap {
    right: 12px;
  }

  .contact-badge-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 820px) {
  .add-contact-title-page {
    align-items: start;
  }
}

@media (max-width: 440px) {
  .add-contacts-screen-title-text {
    font-size: 32px;
  }

  .add-contacts-screen-title-subtext {
    font-size: 16px;
  }

  .add-contacts-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-contact-input {
    width: 80%;
  }

  .add-contact-btn {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .contact-screen {
    width: 100vw;
    height: 100vh;
  }
}
 */