/* .add-new-contact-btn-mobile {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  align-items: center;
  justify-content: center;
  background-color: #2a3647;
  border-radius: 46px;
  padding: 12px;
  box-shadow: 0 4px 4px 0 #00000040;
}

.add-new-contact-btn-mobile:hover {
  background-color: #29abe2;
  cursor: pointer;
}

.edit-contact-btn-mobile {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  align-items: center;
  justify-content: center;
  background-color: #2a3647;
  border-radius: 46px;
  padding: 12px;
  box-shadow: 0 4px 4px 0 #00000040;
  width: 56px;
  height: 56px;
}

.edit-contact-btn-mobile:hover {
  background-color: #29abe2;
  cursor: pointer;
}

.add-contact-icon {
  width: 32px;
  height: 32px;
  background-image: url("../assets/icons/person_add.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.edit-contact-mobile-icon {
  width: 5px;
  height: 21px;
  background-image: url("../assets/icons/mobile-menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.back-to-contacts-list-btn {
  display: none;
  position: absolute;
  top: 128px;
  right: 48px;
  background-image: url("../assets/icons/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 24px;
  height: 24px;
  background-color: #f6f7f8;
}

.back-to-contacts-list-btn:hover {
  transform: scale(1.1);
}

.contact-details-headline-mobile-order {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-details-mobile {
  display: none;
  width: 100%;
  height: 100%;
}

.contact-details-mobile {
  display: none;
}

.contact-details-mobile-wrap {
  display: none;
  padding-top: 96px;
  padding-left: 62px;
  padding-right: 24px;
}

.contact-details-mobile-menu {
  display: none;
  position: absolute;
  bottom: 96px;
  right: 16px;
  box-shadow: 0 4px 4px 0 #00000040;
  background-color: white;
  z-index: 10;
  padding: 24px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

@media (max-width: 1260px) {
  .contact-details-mobile {
    display: flex;
  }

  .add-new-contact-btn-mobile {
    display: flex;
  }

  .contact-details-mobile {
    display: block;
  }
  .back-to-contacts-list-btn {
    display: block;
  }
}

@media (max-width: 820px) {
  .add-new-contact-btn-mobile {
    bottom: 96px;
  }

  .edit-contact-btn-mobile {
    bottom: 96px;
  }
}

@media (max-width: 440px) {
  .contact-details-mobile-wrap {
    padding: 40px 16px;
  }
}
 */