* {
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background: #2a3647;
}

button:hover {
  cursor: pointer;
}

.page {
  display: grid;
  grid-template-columns: 232px auto;
  grid-template-rows: 96px auto;
  grid-template-areas:
    "aside nav"
    "aside main";
}

.join-logo {
  display: flex;
  justify-content: center;
}

.join-logo > img {
  height: 121.97px;
  width: 100.03px;
}

.join-logo-mobile {
  display: none;
}

header {
  grid-area: nav;
  display: flex;
  background-color: #ffffff;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
  z-index: 0;
}

.header-container {
  padding: 20px 40px 20px 120px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  align-items: center;
}

aside {
  grid-area: aside;
  background-color: #2a3647;
  display: flex;
  width: 232px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0;
  top: 0;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
}

main {
  grid-area: main;
  height: calc(100vh - 96px);
  max-width: 1920px;
}

menu {
  padding: 0;
  margin: 0;
}
nav {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 229px;
  gap: 15px;
}

nav > a,
.policy-legal > a {
  display: flex;
  height: 46px;
  background-color: #2a3647;
  color: #ffffff;
  padding: 8px 56px;
  gap: 8px;
  text-decoration: none;
  align-items: center;
}

nav > span {
  height: 19px;
  width: 72px;
}

nav > a:hover {
  background-color: #2a3d59;
}

.policy-legal > a:hover {
  background-color: #2a3d59;
}

.active {
  background-color: #091931 !important;
}

.active:hover {
  background-color: #091931 !important;
}

.dropdown-menu-container {
  position: relative;
  top: 150px;
  right: 150px;
  width: 150px;
  height: 204px;
  border-radius: 20px 0 20px 20px;
  border: unset;
  background-color: #2a3647;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.1);
}

.dropdown-menu-inside {
  flex-direction: column;
  padding: 8px 16px;
  width: 130px;
  height: 184px;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.dropdown-menu-inside > a {
  width: 130px;
  height: 46px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  color: #cdcdcd;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
}

.policy-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.policy-legal > a {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 35px;
  width: 100%;
  color: #a8a8a8;
}

.header-user {
  gap: 16px;
  width: 104px;
  height: 56px;
  display: flex;
  align-items: center;
}

.profile-ellipse {
  position: relative;
  height: 56px;
  width: 56px;
  gap: 16px;
  text-align: center;
  color: #29abe2;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 559px;
}

.profile-ellipse:hover {
  background-color: rgb(12, 46, 98, 0.12);
  cursor: pointer;
}

input[type="checkbox"] {
  background: url(/assets/icons/checkbox.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 0 0 0px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.disable-scroll {
  overflow: hidden;
}

@media screen and (max-width: 820px) {
  .page {
    grid-template-columns: auto;
    grid-template-areas:
      "nav"
      "main"
      "aside";
    grid-template-rows: 80px auto;
  }

  header {
    width: 100vw;
    height: 80px;
  }

  .header-container {
    padding: 0;
    justify-content: space-between;
    padding: 16px 20px;
    height: 80px;
  }

  main {
    height: calc(100vh - 160px);
  }

  aside {
    height: 80px;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .summary-content {
    gap: 0;
  }

  .join-logo {
    display: none;
  }

  .policy-legal {
    display: none;
  }

  nav {
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
  }

  nav > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 76px;
    width: 76px;
    padding: 8px 8px;
  }

  nav > a > img {
    height: 24px;
    width: 24px;
  }

  nav > a > span {
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
  }

  nav > a:hover {
    border-radius: 8px;
  }

  .metrics-subtitle {
    font-size: 20px;
  }

  .join-logo-mobile {
    display: flex;
  }
  .header-headline {
    display: none;
  }
}

@media screen and (max-height: 439px) {
  .landscape-orientation {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: -0%;
    background: rgb(0, 0, 0, 0.9);
    left: -0%;
    overflow: initial;
    z-index: 9999;
    color: #ffffff;
  }
}
