#login-view {
  display: grid;
  grid-template-columns: 200px calc(100% - 400px) 200px;
  grid-template-rows: 100px calc(100dvh - 100px - 10%) 10%;
  grid-template-areas:
    "aside header header"
    "aside main right"
    "footer footer footer";
}
aside {
  grid-area: aside;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  animation: hide 2s forwards;
  z-index: 1 !important;
}

main {
  grid-area: center;
  width: 100%;
  max-width: 652px;
  align-items: center;
  max-height: 60%;
  height: 100%;
  border-radius: 30px;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  background-color: #ffffff;
  animation: hide 2s forwards;
  z-index: -1;
  transition: ease-in-out 0.5s;
}

.site-container {
  height: 100%;
  z-index: 2;
}

.signup-container {
  /*  max-height: 49px;
  position: sticky;
  top: 67px;
  left: 1439px; */
  gap: 35px;
  animation: hide 2s forwards;
}

.btn-signup {
  width: 91px;
  height: 49px;
  border-radius: 8px;
  gap: 10px;
  background-color: #2a3647;
}

.btn-signup > button:hover {
  background-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.login-headline-container {
  max-width: 280px;
  max-height: 89px;
  gap: 16px;
}

.signup > .login-headline-container {
  margin-top: -110px;
}

.login-headline {
  width: 100%;
  height: 73px;
  gap: 16px;
}

.login-headline-underline {
  width: 150px;
  border-width: 2px;
  border-style: solid;
}

form {
  max-width: 422px;
  max-height: 152px;
  gap: 20px;
}

input {
  width: 100%;
  border: 0;
  font-size: 20px;
}

.input-container {
  width: 100%;
  min-height: 52px;
  max-width: 422px;
  gap: 8px;
}

.input-container:nth-of-type(4) {
  height: 70px;
}

input:focus-visible {
  outline: none;
}

.input-content {
  max-width: 100%;
  height: 24px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #d1d1d1;
  padding: 12px 21px;
  gap: 10px;
  color: #ffffff;
}

.input-checkbox > span {
  gap: 10px;
}

.input-checkbox {
  width: 231px;
  height: 24px;
}

input[type="checkbox"] {
  background: url(/assets/icons/checkbox.svg) no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 0 0 0 0px;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
}

input[type="checkbox"]:hover {
  background-color: #edf2fa;
  border-radius: 43px;
}

input[type="checkbox"]:checked {
  background: url("../assets/icons/checkbox_checked.svg") no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: unset;
  border-width: 2px;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked:hover {
  background-color: #edf2fa;
  border-radius: 51px;
}

.header-index {
  /*   padding: 48px 48px; */
  z-index: 1;
}

.login-btn-container {
  width: 100%;
  max-height: 48px;
  gap: 35px;
}

.login-btn-container > button {
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  padding: 15px 24px;
}

.guest-login-btn {
  width: 177px;
  background-color: #ffffff;
  border-color: #2a3647;
  border-style: solid;
  border-width: 1px;
}

.guest-login-btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
  border-width: 2px;
}

.guest-login-btn > span {
  width: 129px;
  height: 25px;
}

.login-btn {
  width: 110px;
  background-color: #2a3647;
}

.btn-responsive {
  display: none;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #29abe2;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
}

.login-btn > span {
  width: 62px;
  height: 25px;
}

.signup {
  max-height: 630px;
  max-width: 598px;
  padding: 48px 88px;
  justify-content: space-evenly;
  animation: none;
  z-index: 0;
  box-shadow: 0 0 14px 3px rgb(0, 0, 0, 0.04);
}

.join-logo-index-signup {
  position: absolute;
  top: 80px;
  left: 77px;
  transform: translate(-50%) translateY(-50%);
  z-index: 1;
}

.form-signup {
  height: 326px;
  max-width: 422px;
}

.signup-btn {
  height: 55px;
  width: 126px;
  border-radius: 8px;
  padding: 15px 24px;
  gap: 10px;
  background-color: #2a3647;
}

.signup-btn > span {
  width: 78px;
  height: 25px;
}

.forgot-password {
  background-color: unset;
  width: 160px;
  padding: 0;
}

.forgot-password:hover {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-style: solid;
}

.arrow-left {
  position: absolute;
  left: 32px;
}

.email {
  margin: -6px 0;
  position: relative;
}

.email-login {
  margin: -18px 0;
  position: relative;
}

.error-border {
  border-color: #ff8190;
}

.error-border:focus-within {
  border-color: #ff001f;
}

.pw-icon {
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url("../assets/icons/lock_icon.svg");
}

.input-content input:not(:placeholder-shown) ~ .pw-icon {
  background-image: url("../assets/icons/visibility_off.svg");
}

.pw-icon-on {
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url("../assets/icons/visibility_on.svg");
  background-size: cover;
}

#accept-policy:hover {
  cursor: pointer;
}

.signup-message {
  background-color: #2a3647;
  width: 312px;
  height: 74px;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.15);
  animation: slide-up 1s forwards;
}

.signup-message-text {
  padding: 0 25px;
  height: 24px;
  width: 262px;
  background-color: rgb(56, 56, 56, 0.1);
}

@media screen and (max-width: 992px) {
  main {
    width: 322px;
  }
}

@media screen and (max-width: 600px) {
  #login-view {
    grid-template-columns: 50px calc(100% - 100px) 50px;
    grid-template-rows: 80px calc(100% - 160px) 80px;
    grid-template-areas:
      "aside header header"
      "main main main"
      "footer footer footer";
  }

  .header-index {
    position: unset;
  }

  .signup-container {
    position: unset;
  }

  .signup {
    max-height: unset;
    max-width: unset;
    padding: unset;
    max-height: 600px !important;
    justify-content: space-evenly !important;
  }

  main {
    width: 300px;
    max-height: 320px;
    height: 100%;
    padding: 16px 0;
    justify-content: unset;
    align-items: center;
  }

  form {
    width: 280px;
  }

  button {
    width: 120px !important;
    padding: 0 !important;
    font-size: 17px !important;
  }

  .login-headline {
    font-size: 47px;
  }

  .background-fade {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .reset-join {
    display: none;
  }
}

.reset-join-btn:hover {
  cursor: pointer;
  color: #007cee;
}

@media screen and (max-width: 400px) {
  #login-view {
    grid-template-rows: 82px calc(100% - 80px - 10%) 10%;
  }

  main {
    width: 260px;
    gap: 8px;
  }

  .login-btn-container {
    gap: 8px;
    /* flex-wrap: wrap; */
  }

  button {
    height: 42px;
    width: 120px;
  }

  .site-container {
    padding: 0 30px 0 0;
  }

  .btn-signup {
    width: 70px !important;
    height: 30px !important;
  }

  form {
    width: 240px;
  }

  .input-content {
    height: 16px;
  }

  ul {
    margin: 0;
  }
  li > a {
    font-size: 12px;
  }

  input {
    font-size: 15px;
  }

  .join-logo-index {
    top: 12% !important;
    left: 12% !important;
  }

  .header-index {
    padding: 0;
  }

  .policy-notice {
    bottom: -5%;
  }

  .login-btn-container > button {
    height: 34px;
    width: 110px;
  }
}
