body {
  background-color: #f6f7f8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

.summary {
  flex: 1;
  gap: 40px;
  padding: 64px 96px;
}

.metrics-header h1 {
  margin: 0;
  white-space: nowrap;
}

.header-divider {
  height: 70px;
  width: 4px;
  margin: 0 16px;
}

.divider {
  display: flex;
  align-items: center;
}

.metrics-subtitle {
  font-size: 27px;
  color: #666;
  font-weight: 400;
}

.summary-content {
  gap: 40px;
}

.cards-wrapper {
  gap: 28px;
}

.card-row {
  gap: 28px;
  max-width: 560px;
}

.card {
  color: #2a3647;
  border-radius: 22px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  flex-shrink: 0;
}

.small-card {
  flex: 1;
  text-align: center;
  /*   min-height: 120px; */
  gap: 18px;
}

.card:hover {
  background-color: #2a3647;
  color: white !important;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.card-icon {
  width: 69px;
  height: 69px;
}

.edit {
  background-image: url("../assets/icons/edit_background.svg");
  background-size: contain;
}

.check {
  background-image: url("../assets/icons/check.svg");
  background-size: contain;
}

.card:hover > .edit {
  background-image: url("../assets/icons/edit_hover.svg");
}

.card:hover > .check {
  background-image: url("../assets/icons/check_hover.svg");
}

.card-title {
  font-size: 20px;
}

.large-card {
  display: flex;
  /*   min-height: 120px; */
  max-width: 560px;
  text-align: center;
}

.urgent-left,
.urgent-right {
  flex: 1;
  padding: 0 20px;
}

.divider-vertical {
  width: 2px;
  height: 100px;
  background-color: #e0e0e0;
  margin: 0 20px;
}

.card-icon-large {
  width: 60px;
  height: 60px;
  margin: 0 20px;
}

.greeting {
  /*   width: 100%; */
  /*   max-width: 385px; */
}

.greeting h2 {
  font-size: 48px;
  font-weight: 400;
  color: #333;
}

.greeting h1 {
  font-size: 64px;
  font-weight: 700;
  color: #00aaff;
  margin-top: 16px;
}

.urgent-right .card-value {
  font-size: 22px;
  font-weight: 700;
}

@media screen and (max-width: 1440px) {
  .greeting {
    opacity: 0;
    position: absolute;
    background-color: #f6f7f8;
    display: flex;
    top: 80px;
    text-align: center;
  }
  .greet-animation {
    animation: fadeGreeting 2s ease-out;
    height: calc(100% + 320px);
    width: 100%;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -160px;
    align-items: center;
  }

  .metrics-header h1 {
    font-size: 47px;
  }
}

@media screen and (max-width: 820px) {
  .summary {
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .card-icon,
  .card-icon-large {
    width: 40px;
    height: 40px;
  }

  .metrics-header {
    align-items: flex-start;
    flex-direction: column;
    margin: 16px 8px 0 8px;
  }

  .metrics-header h1 {
    font-size: 47px;
  }

  .metrics-subtitle {
    font-size: 20px;
  }

  .divider {
    flex-direction: column-reverse;
    align-items: start;
  }

  .header-divider {
    rotate: 90deg;
    margin: -16px 32px;
  }
  .cards-wrapper {
    width: 100%;
    padding: 0 16px;
  }

  .card-row {
    gap: 16px;
    min-width: 270px;
  }

  .count-figure {
    font-size: 47px;
  }

  .card-title {
    font-size: 16px;
  }

  .divider-vertical {
    height: unset;
  }

  .urgent-left,
  .urgent-right {
    padding: 20px 0;
    /*         max-width: 108px; */
  }

  .large-card {
    /*   max-width: 276px; */
    height: 110px;
    padding: 28px 0;
  }

  .small-card {
    height: 110px;
    padding: 25px 0;
  }

  #deadline-date {
    font-size: 16px;
  }

  .text-center {
    font-size: 16px;
  }
}
